@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide>div {
    margin: 0 5px;
}

.my-custom-slider .slick-slide>div {
    margin-right: 15px;
}

@media (max-width: 1310px) {
    .slider-btn {
        display: none;
    }
}

